/* General CSS */
p {
	margin:15px;
}
h1 {
	margin:15px;
}
#wsfield {
    overflow: scroll;
	position:absolute;
	background-color:#FFFFFF;
	border:5px solid #4C05F2;
	border-radius:10px;
	border-color:#4C05F2;
	margin:0;
}

* { margin: 0; padding: 0;  }

canvas{ position: fixed; z-index: -10; }

body {
	font: 18px/1.5 "myriad-pro-1", "myriad-pro-2", HelveticaNeue, Helvetica, Arial, serif;
	background: #000000;
	overflow:hidden;
}


#blogo {
    position:absolute;
}

#rule {
	width:100%;
	height:100%;
	position:absolute;
	visibility:hidden;
}
