#wsnav {
	position:absolute;
	width:500px;
	height:100px;
	top:50px;
	z-index:2;
	border-radius:20px;
	border-bottom-right-radius: 0px;
	background-color:#0606EC;
	zoom: 1;
	filter: alpha(opacity=85);
	opacity: 0.65;
}

#wsfoot {
	position: absolute;
	left:0px;
	border:5px;
	border-right: 20px;
	border-left: 20px;
	border-style: solid;
	border-color: 4c05f2;
	margin-left:20px;
	background-color:#4c05f2;
}

#wsfbody {
	position:absolute;
	width:800px;
	float:right;
	height:100%;
	top:0px;
	z-index:-1;
}

#wsright {
	position: absolute;
	width: 15px;
	height:70%;
	background-color:#0606EC;
	top:200px;
	left:485px;
	filter: alpha(opacity=85);
	opacity: 0.65;
}

.wsh1 {
  color:#000000;
  font-size:25px;
  border-top:0px;
}

.wsimg {
  vertical-align:middle;
}

#wsinav {
  margin-top:50px;

}

.wsbtn {
  background-color:#FFFFFF;
  float:center;
  height:95px;
  width:64px;
  margin-left:30px;
}

.wsbtn:hover {
  cursor:pointer;
}

#wsbhome {
  background:url("../img/mho.png");
  background-position:-62px -32px;
}

#wsbwad {
  background:url("../img/nav_image.png");
  background-position:-64px -32px;
}

#wsbghub {
    background:url("../img/github.png");
    background-position:-64px -32px;
}

#wsnvspn {
  height:95px;
  padding:25px 30px 30px 30px;
}

#wsselt {
  position:absolute;
  z-index:-1;
  height:12px;
  width:94px;
  background:url("../img/mselt.png");
}

#wsselb {
  position:absolute;
  z-index:-1;
  height:12px;
  width:94px;
  background:url("../img/mselb.png");
}

#wsnrtop {
  height:15px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background-color:#fff;
  width:500px;
  left:100px;
}

#wsaudio {
  position:absolute;
  z-index:3;
  left:0px;
  top:0px;
  background:transparent;
  width:500px;
  height:100px;
}

#wsful {
  float:right;
  width:100%;
}

#wsfinfo {
  margin-top:5px;
  border:10px solid #151515;
  overflow:auto;
  border-radius:8px;
  padding:8px;
  height:6em;
  width:500px;
}
