#wsfoot {
	position: absolute;
	left:0px;
	border:5px;
	border-right: 20px;
	border-left: 20px;
	border-style: solid;
	border-color: #4c05f2;
	margin-left:20px;
	background-color:#4c05f2;
}

#wsright {
	position: absolute;
	width: 15px;
	height:70%;
	background-color:#0606EC;
	top:200px;
	left:485px;
	filter: alpha(opacity=85);
	opacity: 0.65;
}

#wsinav {
  margin-top:50px;
}